@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
$primary-color: #9b1fee;
$primary-color-light: #ab4beb;
$primary-color-lighter: #b16be0;
$primary-color-lightest: #d1a0f1;
$danger-color: #f12652;
$danger-color-light: #f34a6f;
$warning-color: #eedf10;
$modal-dialog-background: #646060a8;
$shadow-color: #dcdcdcc4;
$Sans-Serif-Font: 'Quicksand', sans-serif;
$Serif-Font: 'Lora', serif;
$color-bluegray-50:#f7f8f9;
$color-bluegray-100:#dadee3;
$color-bluegray-200:#bcc3cd;
$color-bluegray-300:#9fa9b7;
$color-bluegray-400:#818ea1;
$color-bluegray-500:#64748b;
$color-bluegray-600:#556376;
$color-bluegray-700:#465161;
$color-bluegray-800:#37404c;
$color-bluegray-900:#282e38;
$color-purple-50:#fbf7ff;
$color-purple-100:#ead6fd;
$color-purple-200:#dab6fc;
$color-purple-300:#c996fa;
$color-purple-400:#b975f9;
$color-purple-500:#a855f7;
$color-purple-600:#8f48d2;
$color-purple-700:#763cad;
$color-purple-800:#5c2f88;
$color-purple-900:#432263;
$color-red-50:#fff5f5;
$color-red-100:#ffd0ce;
$color-red-200:#ffaca7;
$color-red-300:#ff8780;
$color-red-400:#ff6259;
$color-red-500:#ff3d32;
$color-red-600:#d9342b;
$color-red-700:#b32b23;
$color-red-800:#8c221c;
$color-red-900:#661814;
