@use '@/assets/styles/globals';

.mb-inputtext-lg {
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 2px solid gainsboro;
  min-width: 20rem;
  outline: none;
  transition: border 200ms ease-out;

  &:focus {
    background: white;
    border: 2px solid globals.$color-purple-200;
  }
}
